<!DOCTYPE html>
<html>
<head>
  <title>lmSmithtfy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Questrial|Viga|Montserrat+Alternates' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div class="page-wrap">
    <% if flash[:error] %>
      <h5 class="alert"><%= flash[:error] %></h5>
    <% end %>
    <%= yield %>
  </div>
</body>
<footer>
  <p>
    Sally Moore &#169; 2015
  </p>
</footer>
</html>
